html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Verdana, Arial;
    font-size: 14px;

    #container {
    height: auto;
    }
}

$brandColor: #009900;

#container {
    min-height: 100%;
    height: 100%;
    width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #fff;
}

#header {
    margin-bottom: 15px;
    padding: 20px 0 20px 0;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    border-bottom: solid 1px gray;

    a {
      text-decoration: none;
      color: black;
      display: block;
    }
}

#main {
    overflow: hidden;
    margin-bottom: 15px;
}

#menu {
    margin-bottom: 15px;
    overflow: hidden;

    ul>li {
      float: left;
      width: 100px;
      font-size: 13px;
      text-align: center;
      padding: 4px;
      background: #ccc;
      margin-right: 10px;
      border-radius: 4px;
      text-shadow: 0 1px 0 #fff;
    }

    ul>li:hover {
      background: #ddd;
    }

    ul>li>a {
      text-decoration: none;
      display: block;
    }
}

#footer {
    font-size: 12px;
    text-align: center;
    padding: 10px 0 20px;
}

#contents {
  h2 {
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
//    color: crimson;
  }

  p {
    color: gray;
    font-size: 18px;
    margin-bottom: 14px;
  }
}

#entry {
  margin-bottom: 80px;
}

#entry-info {
  #date {
    color: gray;
  }
}
