html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Verdana, Arial;
    font-size: 14px;

    #container {
    height: auto;
    }
}

#container {
    min-height: 100%;
    height: 100%;
    width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #fff;
}

#header {
    padding: 20px 0 20px 0;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    font-family: 'Raleway', sans-serif;

    a {
      text-decoration: none;
      color: black;
      display: block;
    }
}

#main {
    overflow: hidden;
    margin-bottom: 15px;
}

#menu {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;

  margin-bottom: 50px;
  overflow: hidden;

  ul>li {
    float: left;
    width: 100px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
  }

  ul>li>a {
    color: gray;
    text-decoration: none;
    display: block;
  }

  ul>li:hover {
    background: #ddd;
  }
}

#footer {
    font-size: 12px;
    text-align: center;
    padding: 10px 0 20px;
}

$entry-title-color: black;
#contents {
  color: gray;
  font-size: 18px;
  margin-bottom: 14px;

  h2 {
    color: $entry-title-color;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0 5px 0;
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: $entry-title-color;

      &:visited {
        color: $entry-title-color;
      }
    }
  }
}

#entry {
  margin-bottom: 80px;
}

#entry-info {
  #date {
    color: gray;
  }
}

#archive {
  ul {
    list-style-type: circle;
  }

  ul>li>a {
    color: gray;
    text-decoration: none;
  }

  ul>li:hover {
    text-decoration: underline;
  }
}

#pager {
  a {
    color: red;
    &:visited {
      color: gray;
    }
  }
}
