{{define "archive"}}
{{template "header"}}
<div id="archive">
  <h2>Archive</h2>
  <ul>{{range .}}
    <li><a href="entry/{{.Id}}.html">{{.Title |html}}</a></li>{{end}}
  </ul>
</div>
{{template "footer"}}
{{end}}
