{{define "header"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../resources/favicon.ico">
  </head>
  <body>
    <div id="container">
      <div id="header"><a href="/"><h1>BLOG</h1></a></div>
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive.html">Archive</a></li>
        </ul>
      </div>
      <div id="main">
        <div id="contents">
{{end}}
