{{define "index"}}
{{template "header"}}
{{range .Entries}}{{template "_entry" .}}{{end}}
{{if .ExistsPrevPage}}
<span id="pager"><a href="?offset={{.PrevOffset}}">prev</a></span>
{{end}}
{{if and .ExistsPrevPage .ExistsNextPage}}/{{end}}
{{if .ExistsNextPage}}
<span id="pager"><a href="?offset={{.NextOffset}}">next</a></span>
{{end}}
{{template "footer"}}
{{end}}
