{{define "index"}}
{{template "header"}}
{{range .Entries}}{{template "_entry" .}}{{end}}
{{if .ExistsPrevPage}}
<div id="previous"><a href="?offset={{.PrevOffset}}">prev</a></div>
{{end}}
{{if .ExistsNextPage}}
<div id="next"><a href="?offset={{.NextOffset}}">next</a></div>
{{end}}
{{template "footer"}}
{{end}}
