<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div id="container">
      <div id="header"><a href="index.html"><h1>BLOG</h1></a></div>
      <!--
      <div id="menu">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="">POST</a></li>
        </ul>
      </div>
      -->
      <div id="main">
        <div id="contents">
          <div id="entry">
            <div id="entry-info">
              <div id="date">
                <span id="year">2015</span><span id="hyphen">-</span>
                <span id="month">1</span><span id="hyphen">-</span>
                <span id="day">13</span>
              </div>
            </div>
            <h2>オブジェクト指向について考える</h2>
            <div id="entry-contents">
              <p>本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です</p>
            </div>
          </div>
                    <div id="entry">
            <div id="entry-info">
              <div id="date">
                <span id="year">2015</span><span id="hyphen">-</span>
                <span id="month">1</span><span id="hyphen">-</span>
                <span id="day">14</span>
              </div>
            </div>
            <h2>もう一度オブジェクト指向について考える</h2>
            <div id="entry-contents">
              <p>本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です
              本文です本文です本文です本文です本文です</p>
            </div>
          </div>
        </div> <!-- #contents -->
      </div> <!-- #main -->
      <div id="footer"></div>
    </div> <!-- #container -->
  <body>
</html>
